section
  .banner.frow.center
    .fcol-cs-12.text--center
      h1 The Best Way to Work Together
    .fcol-cs-5.text--center
      h3
        | We design and develop software for funded startups and
        | established companies. Here are just some examples of our work.

  .banner__image.frow.center
    .fcol-cs-10
      img(src="/assets/images/banner-woman.png", alt="", srcset="")
