section
  .carousel
    .carousel__container.frow
      .carousel__slide
        img(src="/assets/images/laptop.png", alt="")
        .carousel__info
          h1.carousel__slide-title Powerful Extensions
          p.carousel__slide-text
            | This article is floated online with aim to help
            | you find the best dvd printing solution. Dvd
            | printing is an important feature
          span.text--link.carousel__slide-link Learn More
      .carousel__slide
        img(src="/assets/images/laptop.png", alt="")
        .carousel__info
          h1.carousel__slide-title Powerful Extensions
          p.carousel__slide-text
            | This article is floated online with aim to help
            | you find the best dvd printing solution. Dvd
            | printing is an important feature
          span.text--link.carousel__slide-link Learn More
      .carousel__slide
        img(src="/assets/images/laptop.png", alt="")
        .carousel__info
          h1.carousel__slide-title Powerful Extensions
          p.carousel__slide-text
            | This article is floated online with aim to help
            | you find the best dvd printing solution. Dvd
            | printing is an important feature
          span.text--link.carousel__slide-link Learn More
      .carousel__slide
        img(src="/assets/images/laptop.png", alt="")
        .carousel__info
          h1.carousel__slide-title Powerful Extensions
          p.carousel__slide-text
            | This article is floated online with aim to help
            | you find the best dvd printing solution. Dvd
            | printing is an important feature
          span.text--link.carousel__slide-link Learn More
      .carousel__slide
        img(src="/assets/images/laptop.png", alt="")
        .carousel__info
          h1.carousel__slide-title Powerful Extensions
          p.carousel__slide-text
            | This article is floated online with aim to help
            | you find the best dvd printing solution. Dvd
            | printing is an important feature
          span.text--link.carousel__slide-link Learn More
    .carousel__dots-container
