section
  .info.frow.center
    .frow.fcol-cs-10
      .info__section.frow.middle
        .info__image
          img(src="/assets/images/data.png", alt="")
        .info__text
          h5 Keep your Data
          p Enterprise-ready performance and controls.

      .info__section.frow.middle
        .info__image
          img(src="/assets/images/pencil.png", alt="")
        .info__text
          h5 Prototype your Project
          p 24/7 proactive threat scanning to prevent attacks.

      .info__section.frow.middle
        .info__image
          img(src="/assets/images/code.png", alt="")
        .info__text
          h5 Create Smart Texts
          p 24/7 proactive threat scanning to prevent attacks.


