section
  .pricing
    .frow.center
      .fcol-cs-12.text--center
        h1 Simple Pricing
      .fcol-cs-8.fcol-xs-8.fcol-sm-8.fcol-md-5.fcol-lg-5.text--center
        h3
          | It seems from the moment you begin to take your love of astronomy
          | seriously, the thing that is on your mind is what kind.
    .pricing__plans-container.frow
        .pricing__plan.fcol-cs-12.fcol-xs-12.fcol-sm-12.fcol-md-4.fcol-lg-4.first
          .frow.pricing__plan-header
            h5.pricing__plan-name.text--center.fcol-cs-12.text--link
              | basic
            .fcol-cs-12.text--center.pricing__plan-name-description
              p For a taste of our product

          .pricing__divider

          .frow
            .text--center.fcol-cs-12
              h1.pricing__plan-cost
                | $0
              p.text--center.pricing__plan-monthly
                | always free
            p.text--center.pricing__plan-description
              | How to boost the design and developing process with the help of our four paws.

          .pricing__divider

          .frow.pricing__plan-list-container
            ul.pricing__plan-list
              li.includes 2 Gb of space
              li.includes 30 days of file recovery
              li.includes MS Office 365 integration
              li.disabled Unlimited third-party integrations
              li.disabled Remote wipe

          .frow
            button.btn.btn--outline.btn--full-width
              | Get Started
        .pricing__plan.fcol-cs-12.fcol-xs-12.fcol-sm-12.fcol-md-4.fcol-lg-4
          .frow.pricing__plan-header
            h5.pricing__plan-name.text--center.fcol-cs-12.text--link
              | professional
            .fcol-cs-12.text--center.pricing__plan-name-description
              p Make individual product

          .pricing__divider

          .frow
            .text--center.fcol-cs-12
              h1.pricing__plan-cost
                | $8.99
              p.text--center.pricing__plan-monthly
                | per month
            p.text--center.pricing__plan-description
              | Computer War Games How To Estimate Decisions Made By C C Trainees

          .pricing__divider

          .frow.pricing__plan-list-container
            ul.pricing__plan-list
              li.includes 8 Gb of space
              li.includes 60 days of file recovery
              li.includes MS Office 365 integration
              li.includes Unlimited third-party integrations
              li.disabled Remote wipe

          .frow
            button.btn.btn--outline.btn--full-width
              | Get Started
        .pricing__plan.fcol-cs-12.fcol-xs-12.fcol-sm-12.fcol-md-4.fcol-lg-4.last
            .frow.pricing__plan-header
              h5.pricing__plan-name.text--center.fcol-cs-12.text--link
                | business
              .fcol-cs-12.text--center.pricing__plan-name-description
                p For big companies

            .pricing__divider

            .frow
              .text--center.fcol-cs-12
                h1.pricing__plan-cost
                  | $18.99
                p.text--center.pricing__plan-monthly
                  | per month
              p.text--center.pricing__plan-description
                | Direct Mail Advertising How I Made 47 365 In 30 Days By Mailing

            .pricing__divider

            .frow.pricing__plan-list-container
              ul.pricing__plan-list
                li.includes 30 Gb of space
                li.includes 90 days of file recovery
                li.includes MS Office 365 integration
                li.includes Unlimited third-party integrations
                li.includes Remote wipe

            .frow
              button.btn.btn--outline.btn--full-width
                | Get Started
