section
  .subfooter
    .frow.center
      .fcol-cs-12.text--center
        h1.text--light-gray
          | The Ultimate Pasta Lenght Editor
      .fcol-cs-5.text--center
        h3.text--light-gray
          | How to boost the design and developing process whit a little help of four paws.
          | True story by Snoop Dogg.
    .frow.center
      .subfooter__button-container
        button.btn.btn--green.fcol Try it for Free
    .frow.center
      .fcol-cs-3.text--center
        h5.text--white Superpasta trusted and used by multiple companies
    .frow.center.subfooter__logos.self-center
        img(src="/assets/images/evernote.png", alt="")
        img(src="/assets/images/marvel.png", alt="")
        img(src="/assets/images/brazzers.png", alt="")
        img(src="/assets/images/motorola.png", alt="")
        img(src="/assets/images/netflix.png", alt="")
        img(src="/assets/images/adobe.png", alt="")
