section
  .subfooter
    .frow.center
      .fcol-cs-12.text--center
        h1
          | The Ultimate Pasta Lenght Editor
      .fcol-cs-8.fcol-xs-8.fcol-md-8.fcol-lg-5.text--center
        h3
          | How to boost the design and developing process whit a little help of four paws.
          | True story by Snoop Dogg.
    .frow.center
      .subfooter__button-container
        button.btn.btn--green.fcol Try it for Free
    .frow.center
      .fcol-cs-8.fcol-xs-8.fcol-md-8.fcol-lg-3.text--center
        h5.text--white.subfooter__trusted-text Superpasta trusted and used by multiple companies
    .frow.center.subfooter__logos-container
        .subfooter__logos
          img(src="/assets/images/evernote.png", alt="")
        .subfooter__logos
          img(src="/assets/images/marvel.png", alt="")
        .subfooter__logos
          img(src="/assets/images/brazzers.png", alt="")
        .subfooter__logos
          img(src="/assets/images/motorola.png", alt="")
        .subfooter__logos
          img(src="/assets/images/netflix.png", alt="")
        .subfooter__logos
          img(src="/assets/images/adobe.png", alt="")
