.carousel {
    max-width: 100%;
    .slick-arrow {
        &::before {
            font-size: 90px;
            color: $text;
        }
    }
    .slick-track{
      // max-width: 100%;
    }
    .slick-next,
    .slick-prev {
        width: 40px;
        height: 40px;
    }

    .slick-next{
      right: 50px;
    }
    .slick-prev{
      left: 50px;
    }
}
