.footer {
  background: $darkest-gray;
  color: $light-gray;
  padding: 50px 0 80px;
  &__logo-container {
    max-width: 80px;
    max-height: 80px;
    display: inline-block;
    margin-right: 30px;
  }
  &__logo-text{
    display: inline-block;
    max-width: 350px;
    max-height: 80px;
  }
  &__logo-background {
    position: relative;
  }
  &__logo {
    position: relative;
    bottom: 50px;
    left: 20px;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      font-weight: 300;
      margin: 20px 0 0 0;
    }
  }
}
