extends layouts/layout-primary

block content
  include layouts/includes/banner.pug
  include layouts/includes/info.pug
  include layouts/includes/carousel.pug
  include layouts/includes/pricing.pug
  include layouts/includes/subfooter.pug
