//- Replace this with the footer
section
.footer.frow.center.middle
  .frow.middle.fcol-lg-10.fcol-md-10.fcol-cs-10
      .fcol-cs-12.fcol-xs-12.fcol-md-4.fcol-lg-4.frow
        .footer__logo-container
          img(src="/assets/images/footer-logo-background.png",class="footer__logo-background")
          img(src="/assets/images/m02-logo.png",class="footer__logo")
        .footer__logo-text
          p
              |Huge modern UI Kit containing 130+ terrific components in 11 popular
              |categories. Each component is fully.
      .fcol-cs-3.fcol-sm-3.fcol-xs-3.fcol-md-2.fcol-lg-2
        h5 Support
        ul
          li About Us
          li Press
          li FAQ
      .fcol-cs-3.fcol-sm-3.fcol-xs-3.fcol-md-2.fcol-lg-2
        h5 Business
        ul
          li Home
          li Mobile
          li Pricing
      .fcol-cs-3.fcol-sm-3.fcol-xs-3.fcol-md-2.fcol-lg-2
        h5 Community
        ul
          li Developers
          li Referrals
          li Forum
      .fcol-cs-3.fcol-sm-3.fcol-xs-3.fcol-md-2.fcol-lg-2.self-start
        p English (UK)
