//- Replace this with the footer
section
.footer
  .fcontainer.center

      .fcol-cs-1
        img(src="/assets/images/footer-logo-background.png")
        img(src="/assets/images/m02-logo.png")
      .fcol-cs-3
        p
          |Huge modern UI Kit containing 130+ terrific components in 11 popular
          |categories. Each component is fully.
      .fcol-cs-2
      .fcol-cs-2
      .fcol-cs-2
      .fcol-cs-2
