//- replace this for a menu :)
.header
  .header__container.frow.middle
    .header__logo.fcol
      img(src="/assets/images/logo.png", alt="logo")
    .header__list.fcol
      ul
        li Features
        li Pricing
        li Learn More
        li Contact sales
    .header__menu-toggle(id="menu-toggle")
      span
      span
      span
  .header__menu-responsive(id="menu")
      ul
        li Features
        li Pricing
        li Learn More
        li Contact sales
