//- replace this for a menu :)
.header
  .header__container.frow.middle
    .header__logo.fcol
      img(src="/assets/images/logo.png", alt="logo")
    .header__list.fcol
      ul
        li Features
        li Pricing
        li Learn More
        li Contact sales
